@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="text-success font-weight-bolder">MEMBERSHIP DATABASE 2022</h1>
    @*<h1 class="text-success font-weight-bolder">Membership Database 2022</h1>*@
    <h3 class="text-success">National Muslim Council of Liberia</h3>
</div>
<div class="container">
    <h2>About Us</h2>
    <p>
        Some text here.........................
    </p>
</div>